name: mobile
description: A simple mobile app for tracking activities.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 1.1.2+20230322

environment:
  sdk: '>=2.19.2 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  community_charts_flutter: ^1.0.1  # https://pub.dev/packages/community_charts_flutter
  collection: ^1.17.0               # https://pub.dev/packages/collection (Dart)
  share_plus: ^6.3.1                # https://pub.dev/packages/share_plus (Verified)
  file_picker: ^5.2.6               # https://pub.dev/packages/file_picker (Verified)
  flutter_email_sender: ^5.2.0      # https://pub.dev/packages/flutter_email_sender
  intl: ^0.18.0                     # https://pub.dev/packages/intl
  package_info_plus: ^3.0.3         # https://pub.dev/packages/package_info_plus
  path: ^1.8.2                      # https://pub.dev/packages/path (Dart)
  path_provider: ^2.0.13            # https://pub.dev/packages/path_provider
  quiver: ^3.2.1                    # https://pub.dev/packages/quiver
  shared_preferences: ^2.0.18       # https://pub.dev/packages/shared_preferences
  sqflite: ^2.2.6                   # https://pub.dev/packages/sqflite
  url_launcher: ^6.1.10             # https://pub.dev/packages/url_launcher
  uuid: ^3.0.7                      # https://pub.dev/packages/uuid
  firebase_crashlytics: ^3.3.0      # https://pub.dev/packages/firebase_crashlytics
  firebase_core: ^2.12.0            # https://pub.dev/packages/firebase_core
  firebase_analytics: ^10.4.0       # https://pub.dev/packages/firebase_analytics

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.3.3              # https://pub.dev/packages/build_runner (Dart)
  mockito: ^5.3.2                   # https://pub.dev/packages/mockito (Dart)
  flutter_lints: ^2.0.1             # https://pub.dev/packages/flutter_lints (Flutter)

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
